@using Task_2.Models
@model PartialModel
@{
    ViewData["Title"] = "Completed To-do List";
    Layout = "_Layout";
}


<html>
<br />
<body>

<h1>Completed Todos</h1>
<a asp-controller="Todo" asp-action="Index"><b>Go back</b></a>
@Html.Partial("PartialView")

</body>
</html>
