@using Task_2.Models
@model PartialModel
@{
    ViewData["Title"] = "TodoList";
    Layout = "_Layout";
}


<html>
<body>
<br />
<h1>Todo</h1>
<a asp-controller="Todo" asp-action="Add"><span style="margin-right: 20px"><b>Add new todo</b></span></a>
<a asp-controller="Todo" asp-action="Completed"><b>See completed todos</b></a>

@Html.Partial("PartialView")

</body>
</html>
